<% provide(:title, 'Add New Hire') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
    	<%= render 'shared/error_messages' %>
    	
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :startDate %>
      <%= f.password_field :startDate %>

      <%= f.label :officelocation %>
      <%= f.password_field :officelocation %>

      <%= f.label :computerType %>
      <%= f.password_field :computerType %>

      <%= f.label :department %>
      <%= f.password_field :department %>

      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>