<% provide(:title, 'Add New Hire') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
    	<%= render 'shared/error_messages' %>
    	
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :startDate, "Start Date" %>
      <%= f.text_field :startDate %>

      <%= f.label :computerType, "Retina or Non-Retina Computer?" %>
      <%= f.text_field :computerType %>

      <%= f.label :department %>
      <%= f.text_field :department %>

      <%= f.label :officeLocation, "Office Location" %>
      <%= f.text_field :officeLocation %>

      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>